body {
  margin: 0;
  font-family: "proxima-nova","Proxima Nova",sans-serif;
  font-weight: 400;
  color: #111A44;
}

button {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .067em;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0;
  line-height: 1.2;
  border: none;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: #111A44;
  text-align: center;
  cursor: pointer;
  min-width: 0;
  font-size: .75rem;
  padding: .75em 2em;
  margin-left: 20px;
}

button:hover {
  background: #fff;
  color: #111A44;
}

button[disabled] {
  background: rgb(187, 186, 186);
  color: #fff;
}
